<!-- <mat-card-header>
  <mat-card-title>{{data.editMode ? 'Edit' : 'Create'}} Question Category </mat-card-title>
  <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="dialogRef.close()">cancel</mat-icon>
</mat-card-header>
<mat-dialog-content class="mat-typography">
  <mat-card>

    <mat-form-field appearance="outline">
      <mat-label *ngIf="!data.viewMode">Enter Category Name</mat-label>
      <input hidden [(ngModel)]="data.id" name="id">
      <input hidden [value]="data.editMode" name="editMode">
      <input hidden [value]="data.viewMode" name="viewMode">
      
      <input [(ngModel)]="data.name" name="name" matInput placeholder="category name" #category [disabled]="data.viewMode">
      <mat-hint>Validation Msg</mat-hint>
      <mat-hint align="end">{{category.value?.length || 0}}</mat-hint>
    </mat-form-field>
  </mat-card>
  <div class="mdc-chip-set" *ngIf="!data.viewMode">

    <button type="button" class="mdc-chip" style="background-color: #F44336" (click)="dialogRef.close()">
      <img src="../../assets/img/Group 142.svg" alt="icon">
      <span class="mdc-chip__text">Cancel</span>
    </button>
    <button class="mdc-chip" [mat-dialog-close]="data">
      <img src="../../assets/img/Group 142.svg" alt="icon">
      <span class="mdc-chip__text">Add Category</span>
    </button>
  </div>
</mat-dialog-content> -->

<mat-card-header>
  <mat-card-title>{{action}} Question Category </mat-card-title>
  <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="closeDialog()">cancel</mat-icon>
</mat-card-header>
<mat-dialog-content class="mat-typography">
  <mat-card *ngIf="action == 'Add' || action == 'Update'">

    <input type="hidden" *ngIf="action == 'Update'" [(ngModel)]="emitedCategoryData.id" name="category_id">
    <mat-form-field appearance="outline">
      <mat-label>Enter Category</mat-label>     
      <input [(ngModel)]="emitedCategoryData.name" name="name" matInput placeholder="{{action}} name" #category required>
      <mat-error>Category is required</mat-error>    
      <mat-hint align="end">{{category.value?.length || 0}}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Enter Description</mat-label>     
        <textarea [(ngModel)]="emitedCategoryData.desc" name="desc" matInput placeholder="{{action}} name" #description required></textarea>
        <mat-error>Description is required</mat-error>    
        <mat-hint align="end">{{description.value?.length || 0}}</mat-hint>
      </mat-form-field>

  </mat-card>
  <mat-card *ngIf="action == 'Delete'">
      Are you sure to delete this <b>{{emitedCategoryData.name}}</b> ?
    </mat-card>
    <mat-card *ngIf="action == 'View'">
        <p>Category: {{emitedCategoryData.name}}</p>
        <p>Description: {{emitedCategoryData.desc}}</p>
      </mat-card>
  <div class="mdc-chip-set" *ngIf= "action != 'View'">

    <button type="button" class="mdc-chip" style="background-color: #F44336" (click)="closeDialog()">
      <img src="{{projectService.getImagepath()}}/Group 142.svg" alt="icon">
      <span class="mdc-chip__text">Cancel</span>
    </button>
    <button class="mdc-chip" [mat-dialog-close]="data" (click)="doAction()">
      <img src="{{projectService.getImagepath()}}/Group 142.svg" alt="icon">
      <span class="mdc-chip__text">{{action}} Category</span>
    </button>
  </div>
</mat-dialog-content>