<mat-toolbar style="background: white">
  <a routerLink="/">
    <img src="{{projectServices.getImagepath()}}/logo.png" style="width: 120px;" alt="company-logo">
  </a>
    <div class="perfonal-info">
        <div class="name-drop">
          <button mat-button [matMenuTriggerFor]="menu">{{userInfo?.logged_user?.name}} <i class="material-icons">
              keyboard_arrow_down
            </i></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logOut()"> <mat-icon aria-hidden="false" aria-label="Example home icon">power_settings_new</mat-icon> Log Out</button>
          </mat-menu>
        </div>
    
      </div>
  </mat-toolbar>