<div class="page-container">
  <div class="project">
    <div class="p-heading">
      Projects
    </div>
    <div>
      <button mat-raised-button color="primary">Add Project</button>
    </div>
  </div>
  <div class="p-list">
    <mat-card>
      <div class="p-header">
      <mat-card-title>
        Google
      </mat-card-title>
      <mat-menu #menu="matMenu">
          <button mat-menu-item>Questions</button>
          <button mat-menu-item>Edit</button>
          <button mat-menu-item>Delete</button>
          <button mat-menu-item>Share</button>
        </mat-menu>
      <button mat-button color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>view_list</mat-icon>
    </button>
      </div>
      <mat-card-content>
        <div class="q-info">
          <h4>
          Categories: 5
          </h4>
          <h4>
          Questions: 30
          </h4>
        </div>
        <div>Created By: Ajay Yadav</div>
      </mat-card-content>
          <mat-card-actions>
              <button mat-raised-button color="primary"><mat-icon>check</mat-icon>Active</button>
              <button mat-raised-button color="primary"><mat-icon>share</mat-icon>Share</button>
            </mat-card-actions>

    </mat-card>
    <mat-card>
        <div class="p-header">
        <mat-card-title>
          TCS
        </mat-card-title>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Questions</button>
            <button mat-menu-item>Edit</button>
            <button mat-menu-item>Delete</button>
            <button mat-menu-item>Share</button>
          </mat-menu>
        <button mat-button color="primary" [matMenuTriggerFor]="menu">
        <mat-icon>view_list</mat-icon>
      </button>
        </div>
        <mat-card-content>
          <div class="q-info">
            <h4>
            Categories: 5
            </h4>
            <h4>
            Questions: 30
            </h4>
          </div>
          <div>Created By: Ajay Yadav</div>
        </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary"><mat-icon>check</mat-icon>Active</button>
                <button mat-raised-button color="primary"><mat-icon>share</mat-icon>Share</button>
              </mat-card-actions>
  
      </mat-card>
      <mat-card>
          <div class="p-header">
          <mat-card-title>
            HCL
          </mat-card-title>
          <mat-menu #menu="matMenu">
              <button mat-menu-item>Questions</button>
              <button mat-menu-item>Edit</button>
              <button mat-menu-item>Delete</button>
              <button mat-menu-item>Share</button>
            </mat-menu>
          <button mat-button color="primary" [matMenuTriggerFor]="menu">
          <mat-icon>view_list</mat-icon>
        </button>
          </div>
          <mat-card-content>
            <div class="q-info">
              <h4>
              Categories: 5
              </h4>
              <h4>
              Questions: 30
              </h4>
            </div>
            <div>Created By: Ajay Yadav</div>
          </mat-card-content>
              <mat-card-actions>
                  <button mat-raised-button color="primary"><mat-icon>check</mat-icon>Active</button>
                  <button mat-raised-button color="primary"><mat-icon>share</mat-icon>Share</button>
                </mat-card-actions>
    
        </mat-card>
        <mat-card>
            <div class="p-header">
            <mat-card-title>
              SAP
            </mat-card-title>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Questions</button>
                <button mat-menu-item>Edit</button>
                <button mat-menu-item>Delete</button>
                <button mat-menu-item>Share</button>
              </mat-menu>
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
            <mat-icon>view_list</mat-icon>
          </button>
            </div>
            <mat-card-content>
              <div class="q-info">
                <h4>
                Categories: 5
                </h4>
                <h4>
                Questions: 30
                </h4>
              </div>
              <div>Created By: Ajay Yadav</div>
            </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary"><mat-icon>check</mat-icon>Active</button>
                    <button mat-raised-button color="primary"><mat-icon>share</mat-icon>Share</button>
                  </mat-card-actions>
      
          </mat-card>
          <mat-card>
              <div class="p-header">
              <mat-card-title>
                Redhit
              </mat-card-title>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item>Questions</button>
                  <button mat-menu-item>Edit</button>
                  <button mat-menu-item>Delete</button>
                  <button mat-menu-item>Share</button>
                </mat-menu>
              <button mat-button color="primary" [matMenuTriggerFor]="menu">
              <mat-icon>view_list</mat-icon>
            </button>
              </div>
              <mat-card-content>
                <div class="q-info">
                  <h4>
                  Categories: 5
                  </h4>
                  <h4>
                  Questions: 30
                  </h4>
                </div>
                <div>Created By: Ajay Yadav</div>
              </mat-card-content>
                  <mat-card-actions>
                      <button mat-raised-button color="primary"><mat-icon>check</mat-icon>Active</button>
                      <button mat-raised-button color="primary"><mat-icon>share</mat-icon>Share</button>
                    </mat-card-actions>
        
            </mat-card>
            <mat-card>
                <div class="p-header">
                <mat-card-title>
                  Twiiter
                </mat-card-title>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Questions</button>
                    <button mat-menu-item>Edit</button>
                    <button mat-menu-item>Delete</button>
                    <button mat-menu-item>Share</button>
                  </mat-menu>
                <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>view_list</mat-icon>
              </button>
                </div>
                <mat-card-content>
                  <div class="q-info">
                    <h4>
                    Categories: 5
                    </h4>
                    <h4>
                    Questions: 30
                    </h4>
                  </div>
                  <div>Created By: Ajay Yadav</div>
                </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary"><mat-icon>check</mat-icon>Active</button>
                        <button mat-raised-button color="primary"><mat-icon>share</mat-icon>Share</button>
                      </mat-card-actions>
          
              </mat-card>
              <mat-card>
                  <div class="p-header">
                  <mat-card-title>
                    Infosys
                  </mat-card-title>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>Questions</button>
                      <button mat-menu-item>Edit</button>
                      <button mat-menu-item>Delete</button>
                      <button mat-menu-item>Share</button>
                    </mat-menu>
                  <button mat-button color="primary" [matMenuTriggerFor]="menu">
                  <mat-icon>view_list</mat-icon>
                </button>
                  </div>
                  <mat-card-content>
                    <div class="q-info">
                      <h4>
                      Categories: 5
                      </h4>
                      <h4>
                      Questions: 30
                      </h4>
                    </div>
                    <div>Created By: Ajay Yadav</div>
                  </mat-card-content>
                      <mat-card-actions>
                          <button mat-raised-button color="primary"><mat-icon>check</mat-icon>Active</button>
                          <button mat-raised-button color="primary"><mat-icon>share</mat-icon>Share</button>
                        </mat-card-actions>
            
                </mat-card>
                <mat-card>
                    <div class="p-header">
                    <mat-card-title>
                      Wipro
                    </mat-card-title>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Questions</button>
                        <button mat-menu-item>Edit</button>
                        <button mat-menu-item>Delete</button>
                        <button mat-menu-item>Share</button>
                      </mat-menu>
                    <button mat-button color="primary" [matMenuTriggerFor]="menu">
                    <mat-icon>view_list</mat-icon>
                  </button>
                    </div>
                    <mat-card-content>
                      <div class="q-info">
                        <h4>
                        Categories: 5
                        </h4>
                        <h4>
                        Questions: 30
                        </h4>
                      </div>
                      <div>Created By: Ajay Yadav</div>
                    </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary"><mat-icon>check</mat-icon>Active</button>
                            <button mat-raised-button color="primary"><mat-icon>share</mat-icon>Share</button>
                          </mat-card-actions>
              
                  </mat-card>
  </div>
</div>