.page-container {
    margin: 20px;
}
.p-heading {
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
}
.project {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}
.p-list {
display: flex;
flex-wrap: wrap;
/* justify-content: space-between; */
}
.p-list mat-card {
    width: 260px;
    /* height: 260px; */
    height: auto;
    margin: 10px;
}
.q-info {
    display: flex;
    justify-content: space-between; 
}
.p-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.p-header .mat-button {
min-width: 0px;
padding: 0px;
}
mat-card-content {
    margin: 25px 0 25px 0;
}
.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button {
    margin: 5px 8px;
}
mat-card-title.ellipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .btn-grp {
      display: flex;
  }
  /* .mat-mini-fab {
    width: 35px;
    height: 35px;
  } */
  /* .mat-mini-fab .mat-button-wrapper {
    padding: 7px 0;
    display: inline-block;
    line-height: 22px
  } */