.socina-btn button {
    padding: 20px 20px;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    background: #DD0031;
    cursor: pointer;
    margin-top: 20px;
}
.sing-btngrp {
    margin-top: 50px;;
}