<mat-card-header>
    <mat-card-title> {{action}} Question</mat-card-title>
    <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="closeDialog()">cancel</mat-icon>
  </mat-card-header>
  <mat-dialog-content class="mat-typography">
  
      <mat-card *ngIf="action == 'Add' || action == 'Update'">
          <input hidden [(ngModel)]="emittedQuestionData.parentid" name="parentid">
        <ng-container *ngIf="emittedQuestionData.parentid !== ''">
          <mat-radio-group aria-label="Select an option" name="answer_opt" [(ngModel)]="emittedQuestionData.answer_opt">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
            <mat-radio-button value="3">Both</mat-radio-button>
          </mat-radio-group>
        </ng-container>
  
        <mat-form-field appearance="outline">
          <mat-label>Enter Question</mat-label>
          <textarea  matInput placeholder="Question" [(ngModel)]="emittedQuestionData.question" name="question" #ques rows="4"
            type="text"></textarea>
          <mat-hint>Validation Msg</mat-hint>
          <mat-hint align="end">{{ques.value?.length || 0}}</mat-hint>
        </mat-form-field>
        <div class="score-form">
          <mat-form-field appearance="outline">
            <mat-label>Enter Weightage For this Question</mat-label>
            <input matInput placeholder="Weightage" [(ngModel)]="emittedQuestionData.weightage" name="weightage" #Weightage
              type="number">
            <mat-hint>Validation Msg</mat-hint>
            <mat-hint align="end">{{Weightage.value?.length || 0}}</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Enter Score</mat-label>
            <input  matInput placeholder="score" [(ngModel)]="emittedQuestionData.score" name="score" type="number">
          </mat-form-field>
        </div>
  
        <mat-checkbox [(ngModel)]="hasTooltip">Add tooltip for this Questions</mat-checkbox>
        <mat-form-field appearance="outline" *ngIf="hasTooltip">
          <mat-label>Tooltip Text</mat-label>
          <input matInput placeholder="tooltip" [(ngModel)]="emittedQuestionData.tooltip" name="tooltip" #tooltip type="text"
            name="tootltip">
          <mat-hint>Validation Msg</mat-hint>
          <mat-hint align="end">{{tooltip.value?.length || 0}}</mat-hint>
        </mat-form-field>
      </mat-card>
      <mat-card *ngIf="action == 'Delete'">
          Are you sure to delete this <b>{{emittedQuestionData.question}}</b> ?
        </mat-card>
        <mat-card *ngIf="action == 'View'">
            <p>Question:{{emittedQuestionData.question}}</p>
            <p>Weightage: {{emittedQuestionData.weightage}}</p>
            <p>Score: {{emittedQuestionData.score}}</p>
          <p>Tooltip: {{emittedQuestionData.tooltip}}</p>
          </mat-card>
      <div class="mdc-chip-set" *ngIf="action != 'View'">
  
        <button type="button" class="mdc-chip" style="background-color: #F44336" (click)="closeDialog()">
          <img src="../../assets/img/Group 142.svg" alt="icon">
          <span class="mdc-chip__text">Cancel</span>
        </button>
        <button class="mdc-chip" [mat-dialog-close]="data" (click)="doAction()">
          <img src="../../assets/img/Group 142.svg" alt="icon">
          <span class="mdc-chip__text">{{action}} Questions</span>
        </button>
      </div>
  </mat-dialog-content>