<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" opened [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list *ngFor="let categorydata of category;let i = index">
        <mat-accordion>
          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{categorydata.CategoryName}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="catque" *ngFor="let question of categorydata.CategoryQuestions;let i = index">
              <p>{{i+1}}. {{question.Question}}</p>
              <div class="optionss">
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                  [(ngModel)]="question.selectedoption">
                  <mat-radio-button class="example-radio-button" *ngFor="let option of options;" [value]="option">

                    {{option}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>


          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="project-info">
        <div class="project-name">
          <h4>Project Name: Google</h4>
        </div>
        <div class="unit">
          <h4>Business Unit: Google</h4>
        </div>
        <div class="sub-unit">
          <h4>Business Name: Google</h4>
        </div>
      </div>
      <div class="aside-content">
        <ng-container *ngFor="let categorydata of category">
          <ng-container *ngFor="let question of categorydata.CategoryQuestions;">
            <ng-container *ngIf="question.selectedoption== 'Yes'">
              <ng-container *ngFor="let d of question.SelectOption">
                <ng-container *ngFor="let t of d.Yes">
                  <p>{{t.Question}} <i class="material-icons" [matTooltip]="t.info" matTooltipClass="tooltip-blue"
                      matTooltipPosition="right">
                      info
                    </i> </p>
                  <div class="optionss">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                      [(ngModel)]="t.selectedoption">
                      <mat-radio-button class="example-radio-button" *ngFor="let option of options;" [value]="option">

                        {{option}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <ng-container *ngIf="t.selectedoption == 'Yes'">
                    <ng-container *ngFor="let g of t.SelectOption">
                      <ng-container *ngFor="let e of g.Yes">
                        <p>{{e.Question}} <i class="material-icons" [matTooltip]="e.info" matTooltipClass="tooltip-blue"
                            matTooltipPosition="right">
                            info
                          </i> </p>
                        <div class="optionss">
                          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            [(ngModel)]="e.selectedoption">
                            <mat-radio-button class="example-radio-button" *ngFor="let option of options;"
                              [value]="option">

                              {{option}}
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="t.selectedoption == 'No'">
                    <ng-container *ngFor="let g of t.SelectOption">
                      <ng-container *ngFor="let e of g.No">
                        <p> {{e.Question}} <i class="material-icons" [matTooltip]="e.info"
                            matTooltipClass="tooltip-blue" matTooltipPosition="right">
                            info
                          </i> </p>
                        <div class="optionss">
                          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            [(ngModel)]="e.selectedoption">
                            <mat-radio-button class="example-radio-button" *ngFor="let option of options;"
                              [value]="option">

                              {{option}}
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="question.selectedoption== 'No'">
              <ng-container *ngFor="let d of question.SelectOption">
                <ng-container *ngFor="let t of d.No">
                  <p>{{t.Question}} <i class="material-icons" [matTooltip]="t.info" matTooltipClass="tooltip-blue"
                      matTooltipPosition="right">
                      info
                    </i> </p>
                  <div class="optionss">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                      [(ngModel)]="t.selectedoption">
                      <mat-radio-button class="example-radio-button" *ngFor="let option of options;" [value]="option">

                        {{option}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <ng-container *ngIf="t.selectedoption == 'Yes'">
                    <ng-container *ngFor="let g of t.SelectOption">
                      <ng-container *ngFor="let e of g.Yes">
                        <p>{{e.Question}} <i class="material-icons" [matTooltip]="e.info" matTooltipClass="tooltip-blue"
                            matTooltipPosition="right">
                            info
                          </i> </p>
                        <div class="optionss">
                          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            [(ngModel)]="e.selectedoption">
                            <mat-radio-button class="example-radio-button" *ngFor="let option of options;"
                              [value]="option">

                              {{option}}
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="t.selectedoption == 'No'">
                    <ng-container *ngFor="let g of t.SelectOption">
                      <ng-container *ngFor="let e of g.No">
                        <p>{{e.Question}} <i class="material-icons" [matTooltip]="e.info" matTooltipClass="tooltip-blue"
                            matTooltipPosition="right">
                            info
                          </i> </p>
                        <div class="optionss">
                          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            [(ngModel)]="e.selectedoption">
                            <mat-radio-button class="example-radio-button" *ngFor="let option of options;"
                              [value]="option">

                              {{option}}
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        <div class="btn-save">
          <button mat-raised-button color="primary">Save</button>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>