<mat-sidenav-container class="side-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <div class="projectname">
        {{projectBasic?.project_name}}
      </div>
      <!-- <mat-divider></mat-divider> -->
      <div class="projectDescription">
        {{projectBasic?.desc}}
      </div>
      <mat-divider></mat-divider>
      <mat-accordion>
        <ng-container *ngFor="let catgrp of projectData?.catgroups;let k = index">
          <div class="parentcategory">
            <b> {{k+1}}. {{catgrp.name}} </b>
          </div>
          <ng-container *ngFor="let p of catgrp?.categories;let i = index">
            <mat-expansion-panel [expanded]="i === 0 && k === 0" (opened)="setCurrentCategory(p)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>{{k+1}}.{{i+1}} - {{p.name}} </b>
                </mat-panel-title>
                <img style="margin-right: 20px;width:25px" *ngIf="p.status"
                  src="{{projectService.getImagepath()}}/Group 142.svg"
                  matTooltip="Answer is submitted for this category" matTooltipClass="tooltip-blue"
                  matTooltipPosition="above">
              </mat-expansion-panel-header>
              <div class="catque" *ngFor="let l1 of p.questions | mainQuestions;let i = index">
                <p>{{i+1}}. {{l1.question}}
                  <i *ngIf="l1.tooltip !== null" class="material-icons" [matTooltip]="l1.tooltip"
                    matTooltipClass="tooltip-blue" matTooltipPosition="right">
                    info
                  </i>
                  <!-- <span class="score">Score : {{l1.score}}</span> -->
                </p>

                <div class="optionss">
                  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    [(ngModel)]="l1.selectedOption">
                    <mat-radio-button class="example-radio-button" *ngFor="let option of options;" [value]="option.qId"
                      (click)="onRadioOptionClickLevel2(l1.id, option.qId)">

                      {{option.ans}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </mat-expansion-panel>
          </ng-container>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <div class="main-content">

      <div class="stages">
        <div *ngFor="let stage of projectBasic?.stages">
          <span class="underline underline--stars" [matTooltip]="getToolTipInfo(stage)"
          matTooltipClass="tooltip-blue" matTooltipPosition="above" [ngStyle]="{'background-image': getImageUrl(stage), 'color': getColor(stage)}" 
            [ngClass]="currentStageId === stage.id ? 'active' : ''"
            (click)="getProjectData(stage.id, stage.name, stage.active, stage.review)">{{stage.name}}</span>
        </div>
      </div>
      <hr />
    </div> -->
    <!-- <div class="whiteline"></div> -->
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab label={{stage.name}} *ngFor="let stage of projectBasic?.stages">
        <ng-template mat-tab-label>
          <!-- <span class="underline underline--stars" [matTooltip]="getToolTipInfo(stage)"
          matTooltipClass="tooltip-blue" matTooltipPosition="above" [ngStyle]="{'background-image': getImageUrl(stage), 'color': getColor(stage)}" 
            [ngClass]="currentStageId === stage.id ? 'active' : ''">
            {{stage.name}}
          </span> -->
          <div class="underline underline--stars" [matTooltip]="getToolTipInfo(stage)" matTooltipClass="tooltip-blue"
            matTooltipPosition="above" [ngStyle]="{'color': getColor(stage)}"
            [ngClass]="currentStageId === stage.id ? 'active' : ''">
            <div>
              {{stage.name}}
            </div>
            <mat-icon>lens</mat-icon>
          </div>
        </ng-template>
        <!-- {{currentCategory | json}} -->
          <div class="aside-content" *ngFor="let l2 of questiondatalevel2">
            <p>{{l2.question}} <i *ngIf="l2.tooltip !== null" class="material-icons" [matTooltip]="l2.tooltip"
                matTooltipClass="tooltip-blue" matTooltipPosition="right">
                info
              </i>
              <!-- <span class="score">Score : {{l2.score}}</span> -->
            </p>
            <div class="optionss">
              <div [ngStyle]="{'cursor':query === 'review' ? 'not-allowed' : '' }"> 
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="l2.selectedOption" [class.disabled]="query == 'review'">
                <mat-radio-button class="example-radio-button" *ngFor="let option of options;" [value]="option.qId"
                  (change)="onRadioOptionChangeLevel3(l2.id, option.qId)">

                  {{option.ans}}
                </mat-radio-button>
              </mat-radio-group>
              </div>

              <div class="comment">
                <div [ngStyle]="{'cursor':query === 'review' ? 'not-allowed' : ''}">
                <mat-form-field appearance="outline" [class.disabled]="query == 'review'">
                  <mat-label>Add Comment</mat-label>
                  <textarea matInput placeholder="Comment" [(ngModel)]="l2.comment"></textarea>
                </mat-form-field>
                </div>
                <mat-card *ngIf="!currentCategory.status">
                  <form [formGroup]="form">
                    <input type="file" mat-raised-button color="primary" class="input-file" name="filedata"
                      (change)="onChange($event)">
                    <button (click)="onSubmit(l2.id)" mat-raised-button color="primary">
                      <mat-icon>cloud_upload</mat-icon>
                      Upload File
                    </button>
                  </form>
                </mat-card>
                <mat-card *ngIf="currentCategory.status" style="height: 50px; width:300px">
                  <div *ngIf="l2.document !== null">
                    Uploaded File Link <br /><br />
                    <a href="https://dev-checklist.regalix.com{{l2.document}}" target="_blank">{{l2.document}}</a>
                  </div>

                  <div *ngIf="l2.document === null">
                    File is not uploaded for this question
                  </div>

                </mat-card>
              </div>
            </div>
            <ng-container *ngIf="l2.selectedOption">
              <ng-container *ngIf="currentCategory.questions">
                <div class="aside-content l3"
                  *ngFor="let l3 of currentCategory.questions | subQuestions: l2.id : l2.selectedOption">
                  <p>{{l3.question}} <i *ngIf="l3.tooltip !== null" class="material-icons" [matTooltip]="l3.tooltip"
                      matTooltipClass="tooltip-blue" matTooltipPosition="right">
                      info
                    </i>
                    <!-- <span class="score">Score : {{l3.score}}</span> -->
                  </p>
                  <div class="optionss">
                    <div [ngStyle]="{'cursor':query === 'review' ? 'not-allowed' : ''}">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                      [(ngModel)]="l3.selectedOption" [class.disabled]="query == 'review'">
                      <mat-radio-button class="example-radio-button" *ngFor="let option of options;"
                        [value]="option.qId" (change)="onRadioOptionChangeLevel3(l3.id, option.qId)">

                        {{option.ans}}
                      </mat-radio-button>
                    </mat-radio-group>
                    </div>
                    <div class="comment">
                      <div [ngStyle]="{'cursor':query === 'review' ? 'not-allowed' : ''}">
                      <mat-form-field appearance="outline" [class.disabled]="query == 'review'">
                        <mat-label>Add Comment</mat-label>
                        <textarea matInput placeholder="Comment" [(ngModel)]="l3.comment"></textarea>
                      </mat-form-field>
                      </div>
                      <mat-card *ngIf="!currentCategory.status">
                        <form [formGroup]="form">
                          <input type="file" mat-raised-button color="primary" class="input-file" name="filedata"
                            (change)="onChange($event)">
                          <button (click)="onSubmit(l3.id)" mat-raised-button color="primary">
                            <mat-icon>cloud_upload</mat-icon>
                            Upload File
                          </button>
                        </form>
                      </mat-card>
                      <mat-card *ngIf="currentCategory.status" style="height: 50px; width:300px">
                        <div *ngIf="l3.document !== null">
                          Upload File Link <br /> <br/>
                          <a href="https://dev-checklist.regalix.com/{{l3.document}}"
                            target="_blank">{{l3.document}}</a>
                        </div>
                        <div *ngIf="l3.document === null">
                          File is not uploaded this questions
                        </div>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>

            <mat-divider></mat-divider>
          </div>
        <ng-container *ngIf="query !== 'review'">
          <ng-container *ngIf="currentStatus">
            <div class="btn-save" *ngIf="currentCategory">
              <button mat-raised-button color="primary" *ngIf="!currentCategory.status"
                (click)="postUserResponseData()">Submit
                {{currentCategory.name}} Response</button>

            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="query == 'review' && role === '1'">
          <div class="btn-save" *ngIf="currentStatus && reviewStage">
            <button mat-raised-button color="primary" (click)="postReview()">
              Submit Review of {{currentStageName}} </button>
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>


  </mat-sidenav-content>
</mat-sidenav-container>