<mat-sidenav-container class="side-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list *ngFor="let p of projectData?.categories;let i = index">
      <mat-accordion>
        <mat-expansion-panel [expanded]="false" (opened)="setCurrentCategory(p)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Category {{i+1}}: {{p.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="catque" *ngFor="let l1 of p.questions | mainQuestions;let i = index">
            <p>{{i+1}}. {{l1.question}}
            </p>
            <div class="optionss">
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="l1.selectedoption">
                <mat-radio-button class="example-radio-button" *ngFor="let option of options;" [value]="option.qId"
                  (change)="onRadioOptionChangeLevel2(l1.id, option.qId)">

                  {{option.ans}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <!-- {{questiondatalevel2 | json}} -->
      <div class="project-info">
        <div class="project-name">
          <h4>Project Name: {{projectData?.project_name}}</h4>
        </div>
        <div class="unit">
          <h4>Business Unit: {{projectData?.bu_name}}</h4>
        </div>
        <div class="sub-unit">
          <h4>Sub Business: {{projectData?.sub_bu_name}}</h4>
        </div>
      </div>
      <div class="aside-content" *ngFor="let l2 of questiondatalevel2">
        <p>{{l2.question}} <i *ngIf="l2.tooltip !== null" class="material-icons" [matTooltip]="l2.tooltip"
            matTooltipClass="tooltip-blue" matTooltipPosition="right">
            info
          </i> </p>
        <div class="optionss">
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="l2.selectedoption">
            <mat-radio-button class="example-radio-button" *ngFor="let option of options;" [value]="option.qId"
              (change)="onRadioOptionChangeLevel3(l2.id, option.qId)">

              {{option.ans}}
            </mat-radio-button>
          </mat-radio-group>
            <mat-form-field appearance="outline">
              <mat-label>Add Comment</mat-label>
             <input matInput placeholder="Comment">
            </mat-form-field>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="file" name="filedata" (change)="onChange($event)">
            <button type="submit">Upload File</button>
          </form>
            <!-- <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Upload Document</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openDocModel('Comment' , {})">Add Comment</button>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="openDocModel('Docx', {})">Upload Docx File</button>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="openDocModel('PDF', {})">Upload PDF</button>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="openDocModel('Link', {})">Add Link</button>
            </mat-menu> -->
        </div>
        <mat-divider></mat-divider>
      </div>
      <!-- {{questiondatalevel3 | json}} -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>