/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@material/chips/dist/mdc.chips.css";
body {
    margin: 0;
    padding: 1% 0% 1% 0%;
    font-family:'Poppins'
  }
  .main-content {
    background-color: #FBF8FF;
    padding: 1%;
}
.mdc-chip__text {
    font-family:'Poppins';
}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    font-family:'Poppins';
}
.mat-expansion-panel-content {
    font-family: 'Poppins';
}
.mat-expansion-panel-header-title {
    font-family: 'Poppins';
}
.loader {
    margin:auto;
    left:0;
    right:0;
    top:180px;
    bottom:0;
    position:absolute;
}

 /* dialog css */

 mat-card {
    margin: 10px 0 10px 0;
}
.mat-card-header {
    justify-content: space-between;
}
mat-card-header mat-icon {
    cursor: pointer;
}

mat-form-field {
    width: 100%;
}

.mdc-chip {
    border-radius: 20px;
    color: white;
    background-color: #7ED321;
    padding: 0px 4px;
    height: 40px;
    font-size: 14px;
    line-height: 21px;
}
.mdc-chip img{
    width: 25px;
    background-color: white;
    border-radius: 50%;
}
.mdc-chip span {
    margin: 0 15px 0 15px;
}
.mdc-chip-set {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 600px) {
    .mdc-chip span {
            margin: 0px;
    }
}
.mdc-chip:disabled {
    cursor: not-allowed;
}